<settings>
<servers>
  <server>
    <id>nextworkapp-nextwork-devops-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
<profiles>
  <profile>
    <id>nextworkapp-nextwork-devops-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextworkapp-nextwork-devops-cicd</id>
        <url>https://nextworkapp-279064250942.d.codeartifact.us-west-2.amazonaws.com/maven/nextwork-devops-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>nextworkapp-nextwork-devops-cicd</id>
    <name>nextworkapp-nextwork-devops-cicd</name>
    <url>https://nextworkapp-279064250942.d.codeartifact.us-west-2.amazonaws.com/maven/nextwork-devops-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</servers>

</settings>
